body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.screen {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.div-rest-users {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 5%;
}

.cards {
    display: flex;
    margin-bottom: 25px;
}