/* GameMenu.css */

.contenedor-fondo {
  height: calc(100vh - 40px); /* Resta los 40px de la barra */
  background-image: url('tu-imagen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/GameMenu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 40px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    max-width: 400px;
    margin-top: 450px;
  }
  
  .button {
    width: 100%;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Bouton "Start Game" */
  .button-white {
    background-color: #ffffff;
    color: #6b46c1;
  }
  
  .button-white:hover {
    background-color: #f3e8ff;
  }
  
  /* Bouton "User Profile" */
  .button-transparent {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
  }
  
  .button-transparent:hover {
    background-color: #ffffff;
    color: #6b46c1;
  }
  
  /* Bouton "Log In" */
  .button-blue {
    background-color: #4299e1;
    color: #ffffff;
  }
  
  .button-blue:hover {
    background-color: #2b6cb0;
  }
  
  /* Bouton "Sign Up" */
  .button-green {
    background-color: #48bb78;
    color: #ffffff;
  }
  
  .button-green:hover {
    background-color: #2f855a;
  }

  /* Bouton "Shop" */
  .button-purple {
    background-color: #5948bb;
    color: #ffffff;
  }
  
  .button-purple:hover {
    background-color: #361ebe;
  }