/* UserProfile.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
    width: 100vw;
  }
  
  .form-container {
    width: 500px;
    height: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .username {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  
  .button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .button.edit {
    background-color: #3498db;
    color: white;
  }
  
  .button.edit:hover {
    background-color: #2980b9;
  }
  
  .button.logout {
    background-color: #95a5a6;
    color: white;
  }
  
  .button.logout:hover {
    background-color: #7f8c8d;
  }
  
  .button.delete {
    background-color: #e74c3c;
    color: white;
  }
  
  .button.delete:hover {
    background-color: #c0392b;
  }
  