/*************************************************
                    PLAY BUTTON
**************************************************/

/* Main buttons for the game screen */
.game-button {
    width: 20vw;
    min-width: 200px;
    height: fit-content;

    background-color: #fdea00;
    color: black;
    font-weight: bold;

    border: 0;
    border-radius: 100vh;

    padding: 10px;
    margin: 0 10px 10px 10px;
}

/* Style for active buttons */
.game-button-active {
    background-color: #fdea00;
    color: black;
    cursor: pointer;
}

.game-button-active:hover {
    background-color: #d1bf00;
}

.game-button-active:active {
    background-color: #8d8100;
}

/* Style for inactive buttons */
.game-button-inactive {
    background-color: #fde80089;
    color: black;
}

.cards {
    display: flex;
    margin-bottom: 25px;
}
